@model HomeIndexViewModel;
@{
    ViewData["Title"] = "Próximos Eventos";
}

@if (null != Model && null != Model.Events && Model.Events.Any())
{
    foreach (var item in Model.Events)
    {
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="card-title">@item.Name</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                
                        <p class="card-text">@item.Local - @item.Begin.ToString("dd/MM") a @item.End.ToString("dd/MM")</p>
                        <p class="card-text">@item.Price.ToString("c2")</p>
                    </div>
                    <div class="col-md-4 text-end">
                        <button type="button" class="btn btn-primary btn-buy" data-id="@item.EventId">Comprar ingresso</button>
                    </div>
                </div>
                
            </div>
        </div>
    }
}

<script type="text/javascript" defer>
    $(document).ready(function () {
        $('.btn-buy').click(function () {
            var eventId = $(this).data('id');
            window.location.href = '/Store/Index/' + eventId;
        });
    });
</script>